*{
    margin: 0px;
    padding: 0px;
}
body{
    background: linear-gradient(60deg,rgb(3, 222, 246),rgb(36, 99, 108));
}
.location{
    display: flex;
    justify-content: center;
    margin: 10px;
    border: 1px solid transparent;
    box-shadow:0px 3px 15px rgba(84, 84, 84, 1);
}
#loc{
    margin-left: 20px;
    padding-left: 20px;
    font-style: italic;
}
#area{
    font-size: 40px;
    font-family: cursive;
    margin-left: 10px;
    padding-left: 15px;
    font-style: italic;
}
#temp-area{
    font-size: 80px;
}
#Sun-cloud{
    margin-left: 20px;
    padding-left: 25px;
    font-style: italic;
}