*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(Weather\ Backgound.png);
    background-size: cover;
    height:auto;
}
.location{
    display: flex;
    justify-content: center;
    height: 200px;
}
#my-location{
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    height: 200px;
    border: 2px solid transparent;
    text-align: center;
}
#loc{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
#area{
    font-size: xxx-large;
    font-family: cursive;
    margin: 10px;
}
#temp-area{
    font-size: xxx-large;
}
/* 1st box  complete */

#text{
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: ;
}
.for-a-day{
    margin:30px 20px;
    border-radius: 10px;
    border: 2px solid black;
}
.one-day{
    display: flex;
    justify-content: space-evenly;
}
.for-hour{
    margin: 20px 20px;
}